*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Georgia, 'Times New Roman', Times, serif; color: black;
text-align: center;
}

body{

height:100vh;

display:flex;
justify-content:center;
align-items:center;

background-image:url("img.JPG");
background-size:cover;
background-position:center;
background-repeat:no-repeat;

}


.signin-form{

background:#f2f2f2;
padding:40px;
width:310px;

border-radius:5px;

text-align:center;

box-shadow:0 8px 20px rgba(0,0,0,0.25);

}

h5{
text-align:left;
margin-top:30px;
}

input{

width:100%;
padding:8px;

margin-top:5px;

border:1px solid #ccc;
border-radius:5px;

}


button{

margin-top:15px;

background:#1a73e8;
color:white;

border:none;

padding:8px 20px;

border-radius:5px;

cursor:pointer;

transition:0.3s;

}

button:hover{

background:#0f5bc4;
transform:scale(1.15);

}

#error{

color:red;
font-size:11px;
margin-top:10px;

}